.container_donate{
    font-family: "Poppins",sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
/* background: #efefef; */
padding-right: 10px;
margin-right: 20%;
}
.map{
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-gap: 7px;
    align-items: stretch;
    padding-top: 150px;
    row-gap: 15vh;
    /* column-gap: 1vh; */
    position: relative;
    width: 75%;
    float: left;
    height: 100%;
    z-index: 1010101010;
}
/*------------start pt2 in money--------------*/
.part22{
    position: fixed;
    width: 25%;
    float: left;
    height: 100%;
    /* background-color: #fff; */
    z-index: 1010101010;
    top: 0;
    right: 0;
    left: -3;
    bottom: 0;
    margin-top: 300px;
    /* margin-bottom: 300px; */
    align-items: flex-start;
    justify-content: start;
    /* justify-content: space-between; */
}
.cardpt2_forDonate{
    position: relative;
    width: 260px;
    height: 190px ;
    /* background: #fff; */
    /* background: linear-gradient(45deg,#fbda61,#FF5757); */
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(228, 212, 228, 0.15);
    transition: 0.5s;
    padding: 20px;
    /* align-items: flex-start; */
    text-align: start;
    box-shadow: 0 35px 80px rgb(0 0 0 / 15%);
    box-shadow: 5px 5px 20px rgb(171, 48, 48);


}
.info_donate{
    /* margin: 2px; */
}
.info_donate label{
    font-weight: bold;
    margin-right: 50px;
    width: 300px !important;
}
.info_donate input{
    /* background: #e0a0a0   ; */
    width: 100px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 2%;
}
.info_donate .change{
    height: 30px;
    width: 216px;
}
.chosecasebtn2_donate{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
.chosecasebtn2_donate button
{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px ; 
    font-weight: 500;
    background: #e0a0a0;
    color: #fff;
    cursor: pointer;
}
.chosecasebtn2_donate button:hover
{
    box-shadow: 5px 5px 20px rgb(171, 48, 48);
    color: #fff;
    
}
.cardpt2material_forDonate{
    align-items:rgb(247, 174, 174)h;
    position: relative !important;
    /* bottom: 00px !important;
    top: 300px; */
    
    width: 350px;
    /* height: 250px; */
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    padding: 10px;
    text-align: start;
    /* box-shadow:rgba(199, 140, 140, 0.5); */
    box-shadow: 5px 5px 20px rgb(171, 48, 48);
    margin: -32%;
    
}
.chooseImg_donate{
    display: flex;
    justify-content: right;
    /* margin-top: 5px;
    background: #000; */
}
.chooseImg_donate button  /*this remove button*/
{
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px ; /*1em*/
    font-weight: 500;
    background: #e0a0a0;
    color: #fff;
    cursor: pointer;
    
}
.chooseImg_donate button:hover
{
    background: rgb(197, 66, 66);
    color: #fff;
}
.info_donate input {
    margin-top: 3px;
    /* align-items: flex-end !important; */
    text-align: left;
}
/* ---------------END pt2 in money--------------- */
.card_forDonate{
    position: relative;
    width: 320px;
    height: 350px; /* 190||490||390 if we dont need hover just take the hover height and replace it here that will stop the hover animation dont forgrt to remove the height from the hover to stop it*/
    background: #fff;
    border-radius: 20px !important;
    box-shadow: 0 35px 80px rgba(229, 223, 223, 0.15);
    transition: 0.5s;
    border-radius: 20px !important;
    /* margin-bottom: 7px; */
}
.card_forDonate:hover{
    height: 375px;
}
.img_donate{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(106, 94, 94, 0.35);
    overflow: hidden; /*radius*/
    transition: 0.5s;
    z-index: 1000;
}
.card_forDonate:hover .img_donate{ /* if u dont foucs on img remove it*/
    width: 175px;
    height: 175px;
}
.img_donate img{
    position: absolute;
    top: 0;
    left: 0;
    width:120%;
    height:100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}
.card_forDonate .infocard_donate{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(45deg,pink,#e6e6e6);
    border-radius: 20px;
    margin-left: 5%;

    /* background: #efefef; */
    /* overflow: hidden;  */
    /*suggest to remove*/
}
.card_forDonate .infocard_donate .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    /* transform: translateY(150px); */
    /* suggest to remove*/
}
/* suggest to remove*/
/* .card_forDonate:hover .infocard_donate .details{ 
    transform: translateY(0px);
} */
.card_forDonate .infocard_donate .details
.moveit h2{
    font-size: 1.25em;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
    font-weight: 500;
    color: #545454;
    padding-bottom: 50px  !important;

}
.card_forDonate .infocard_donate .details h2 span{
    /* font-size: 0.75em; */
    font-weight: 500;
    /* opacity: 0.5; */
    /* font-size: 1.25em; */
    /* font-weight: 600; */
    color: #000;
    /* line-height: 1.2em; */
    /* padding-bottom: 10px  !important; */
}
.moveit{
    font-weight: 500;
    color: #000 !important;
    padding-bottom: 55px  !important; /*-----------------------------------------------*/
}
.card_forDonate .infocard_donate .details .data_donate{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.card_forDonate .infocard_donate .details .data_donate h3{
    font-size: 1em;
    color: #000 !important;
    line-height: 1.2em;
    font-weight: 600;
}
.card_forDonate .infocard_donate .details .data_donate h3 span{
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
    color: #000 !important;
}
.card_forDonate .infocard_donate .details .chosecasebtn_donate{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card_forDonate .infocard_donate .details .chosecasebtn_donate button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #e0a0a0;
    color: #000;
    cursor: pointer;
}
.card_forDonate .infocard_donate .details .chosecasebtn_donate button:hover{
    background: rgb(191, 224, 191);
    color: #fff;

}
.card_forDonate .infocard_donate .details .chosecasebtn_donate button:nth-child(2){
    border: 1px solid #000;
    color: #000;
    background: #fff;
}
Link{
    text-decoration: none !important;
}
.true{
    background-color: rgb(33, 224, 74);
  }
  input::file-selector-button {
    font-weight: bold;
    color: #F8BDC1;
    padding: 0.5em;
    border: thin solid #F8BDC1 !important;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}
.udateDatedonate
{
    /* padding: 2px 5px; */
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    background: #e0a0a0 !important;
    color: #000;
    cursor: pointer;
    padding: 4px;
}
.udateDatedonate:hover{
    /* background: #ab2020 !important; */
    /* box-shadow: #ffe9eb !important; */
    box-shadow: 5px 5px 20px rgb(171, 48, 48);
}
.placeMaterial::placeholder{
    color:  #545455 !important;
    text-align: start !important;
    /* align-items: center; */
}
.bgplacehoder{
    background: #efefef;
}