.ourstory-body{
    min-height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    font-family: "Open Sans",sans-serif;
}
.ourStory-section{
    background: url("https://res.cloudinary.com/dqsg0zf1r/image/upload/v1668097554/samples/project%205/fitrat_iNsan_wn8qlh.png") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 84px 0;
}
.ourStory-inner-container{
    width: 55%;
    float: right;
    background-color: #efefef;
    padding: 150px;
}
.ourStory-inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.ourStory-text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.ourStory-values{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
}
/* Media Queries*/
@media(max-width:1200px){
    .ourStory-inner-container{
        padding: 80px;
    }
}
@media(max-width:1000px){
    .ourStory-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .ourStory-inner-container{
        width: 100%;
    }
}
@media(max-width:600px){
    .ourStory-section{
        padding: 0;
    }
    .ourStory-inner-container{
        padding: 60px;
    }
}
/*
note */

