.ourValues_wrapper{
    height: 90vh;
    font-family: poppins;
    width: 1170px;
    margin: auto;
    /* background:#f4f4f4; */


    /* padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}
.ourValues_wrapper h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #2c3a47;
    margin: 0;
    font-family: poppins;
    /* font-weight: bold; */
}
.single_value{
    position: relative;
    width: 31%;
    height: 320px;
    /* background: #efefef; */
    box-sizing: border-box;
    padding: 0 15px;
    /* transition: .5s; */
    overflow: hidden;
    float: left;
    margin: 0 10px;
    text-align: center;
    /* background: #f4f4f4; */
    background: #efefef;  ;
}

.ourValues_line{
    width: 400px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
    background:#efefef;
}
.single_value p{
    color: #2c3a47;
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
}
.single_value h3{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2c3a47;
}
.circle_img_ourvalue{
    border-radius: 50%;
    margin: 5% auto;
}
.circle_img_ourvalue img{
    font-size: 30px;
    /* padding: 15px; */
    color: #fff;
}
@media(max-width:920px){
    .single_value{
        padding: 7px 17px;
        font-size: 17px;
    }

}
@media(max-width:720px){
    .ourValues_wrapper{
        flex-wrap: wrap;
    }
    .single_value{
        padding: 10px 15px;
        font-size: 20px;
        width: 45%;
        margin-bottom: 15px;
    }
    
}
@media (max-width:600px){
    .ourValues_wrapper{
        width: 100%;
    }
    .single_value{
        width: 95%;
    }
    .ourValues_wrapper h2 {
        font-size: 30px;
    }
}