/* .case_order_summery {
    width: 30%;
    border: 1px solid  var(--primary-color);
    margin: 0 10px;
  }
  .caseorder-summery-title {
    font-size: 24px;
    padding: 15px 10px;
  }
  .your-caseorder-item {
    display: flex;
    align-self: center;
    justify-content: space-between;
    border-top: 1px solid  var(--primary-color);
    padding: 10px;
    font-size: 21px;
  
  } */

  .order_item{
    flex: 25%;
    margin: 5%;
    padding: 12px;
    height: 450px;
    border-radius: 5px;
    background: #efefef;
    box-shadow: rgba(100, 100, 111, 0.2)0 7px 29px 0;
    /* width: 70%; */
    margin-right: 1%;
  }
  .order_item hr{
    margin-bottom: 25px;
  }
  .order_item p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
    color: #908384;
  }
  .order_item button{
    /* color: crimson; */
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    font-weight: 900;
    font-size: 24px;
    color: crimson;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background: #efefef;

  }
  .order_item i{
    margin-right: 15px;
  }

  @media(max-width:900px){
    .order_item{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media(max-width:900px){
    .order_item{
        margin-left: 0;
        margin-bottom: 20px;
    }
}

.maiDivMonyTow{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 50% 20%; 

}
.divImageMonynew{
    width: 23%;
    /* padding-bottom: 20%; */
    margin: 10%;
}
.case_order_summery h1{
    /* position: relative; */
    margin-top: 22px;
left: 35%;
color: #908384;
}
.desc_order{
    position: relative;
    margin-top: 22px;
left: 40%;
color: #908384 !important;
font-size: 24px !important;
}
.divImageMonynew1{
    /* width: 100%; */
    margin: 10%;
    margin-top: 13%;

}
.imgstyle{
    width: 320px;
    height: 450px;
}


/* .newbi-trash-fill{

  
  cursor:none;
}
.newbi-trash-fill:disabled,
button[disabled]
{

  
}  */



.newtestmoney{
  display: grid;
  grid-template-columns: 1fr 1fr;
}