/* .mainMonyDispayCatigory{
display: grid;
flex-wrap: wrap;
grid-template-columns: 1fr 1fr;
gap: 20px;
width: 100%;
}

 .secandMmainMonyDispayCatigory{

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; 
    flex-wrap: wrap;
  gap: 5%;
} 

.firstthings{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr; 
    border: 10px  palevioletred solid;
    height: 400px;
}
h4{
  color: palevioletred;
}
.firstmone{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr; 
    border: 2px pink solid;
    height: 420px;
}
.imgCategory{
height: 350px;
width: 95%;

}
.decshowcatigory{
  width: 98%;
  height: 150px;
}
.ptndeletCase{
  background-color: palevioletred;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
}
.imgCategoryMomy{

  height: 400px;
  width: 95%;


} */