.center_center{
    background: linear-gradient(#110505cc, rgba(1, 1, 23, 0.8)),
    url("https://res.cloudinary.com/dqsg0zf1r/image/upload/v1668472897/larm-rmah-AEaTUnvneik-unsplash-scaled_snjcmr.jpg");
    /* background-image: url("https://res.cloudinary.com/dqsg0zf1r/image/upload/v1668473777/larm-rmah-AEaTUnvneik-unsplash-scaled-overlay_s7k6id.png");
*/
  background-size:100% 100%; 
  background-repeat: no-repeat;
  background-position: center center ;
  height: 100vh;
}