@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;500;600;700&family=Josefin+Sans:wght@300&family=Montserrat:wght@100&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.contact-body {
  font-family: "poppins", sans-serif;
  min-height: 100vh;
  background: url("https://res.cloudinary.com/dv3wzcjeh/image/upload/v1669211805/Beige_Simple_Contact_Us_Chat_Icons_Instagram_Story_7_ejgvgo.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info {
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
  color: #545454;
}
.contact-info i {
  margin-right: 20px;
  font-size: 25px;
}
.contact-form {
  max-width: 700px;
  margin-right: 50px;
}
.contact-info,
.contact-form {
  flex: 1;
}
.contact-form h2 {
  color: #111111;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #545454;
}
.contact-form .text-boxx {
  background: #fff;
  color: black;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
  color: #545454;
}
.contact-form .text-boxx:first-child {
  margin-right: 15px;
}
.contact-form textarea {
  background: #fff;
  color: black;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 17px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
  resize: none;
  outline: none;
  color: #545454 !important;
}
.text-boxx::placeholder {
  color: black;
  opacity: 1;
  color: #545454;
}
#change_theplaceholder::placeholder {
  color: black;
  opacity: 1;
  color: #545454;
}
/* .textarea::placeholder { 
    color: black;
    opacity: 1;
    color: #2c3a47;
  } */
/* textarea::-webkit-input-placeholder {
    color: black;
    color: #2c3a47;
  } */
.contact-form .send-btn {
  background: #545454 !important;
  padding: 20px 32px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: 0px 16px 32px 0px rgb(0 0 0 /6%);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: right;
  color: #fff !important;
}
.contact-form .send-btn:hover {
  /* background: #545454; */
  background-color: #908384 !important;
  color: #fff5eb;
  transition: 0.3s;
  cursor: pointer;
}
.contact-form .send-btn {
  background: #f5f5f5;
  color: #111111;
  color: #2c3a47;
}
/* ALERT MESSAGE SUCCESS*/
.alert-success {
  z-index: 1;
  background: #d4edda;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #3ad66e;
  border-radius: 4px;
}
/* ALERT MESSAGE ERROR*/
.alert-error {
  z-index: 1;
  background: #fff3cd;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #ffa502;
  border-radius: 4px;
}
/*MEDIA QUERIES*/
@media (max-width: 950px) {
  .contact-section {
    flex-direction: column;
  }
  .contact-info,
  .contact-form {
    margin: 30px 50px;
  }
  .contact-form h2 {
    font-size: 30px;
  }
  .contact-form .text-boxx {
    width: 100%;
  }
}
.contact_info_menue
{
  display: flex;
  align-self: center;
  justify-content: flex-start;
}